#contenedor {
  background: rgb(150 220 122);
}
header{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: auto;
  color: white;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(153, 153, 102);
  transition:background 1s;
}
header:hover {
  background-color: lightblue;
}
img{
  border-radius: 20px;
}
section{
  justify-content: space-around;
  background: rgb(51, 153, 102);
margin: 20px;
  border-radius: 20px;
}
video{
  margin: 60px;
}
.corvina{
  transform: scale(1);
  }
  .container:hover .corvina{
    transform: scale(1.5);
  }
h1{
  color: white;
  text-align: center;
}
h4{
  color: white;
  text-align: center;
}
aside{
  margin-top: 50px;
margin-left: 100px;

}
footer{
  background: blue;
  border-radius: 20px;
  height: 50px;
  color: white;
}
.albufera{
  margin-left: 50px;
  margin-top: 50px;
}
.asado{
  margin-left: 60px;
}
.kayak{
  margin-left: 50px;
}
.fortin{
  margin-left: 80px;
}
p{
  color: white;
  padding: 20px;
}